@media (max-width: 480px) {
    html {
        height: 100%;
    }
    
    body {
        margin: 0px;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    .main-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr auto 3fr 1fr;
        grid-template-areas: "header"
                             "menu"
                             "content"
                             "footer";
        height: 100%;
    }
    .header-div {
        background-color: #323F4F;
        grid-area: header;
        padding: 40px;
        margin: 0px;
        color: white;
        text-align: center;
    }
    .header-subtitle {
        font-size: 0.9em;
    }
    .menu-mobile-icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
    }
    .header-title {
        font-size: 2em;
        font-weight: 300;
        font-style: italic;
        margin: 0px;
    }
    .nav-menu-div {
        display: none;
    }
    .menu-element {
        margin-right: 20px;
    }
    .menu-element-current {
        margin-right: 20px;
    }
    .home-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .study-name h1 {
        font-size: 2em;
    }
    .study-vote h2 {
        font-size: 40px;
        
        display: inline-block;
    }
    
    .study-vote h4 {
        font-size: 15px;
        display: inline-block;
    }
    .study-name-vote {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .home-content-photo {
        width: 80%;
    }
    .home-content-info {
        width: 90%;
    }
    h6 {
        margin-bottom: 20px;
    }
    .footer-div {
        background-color: #323F4F;
        grid-area: footer;
        padding: 30px;
        color: white;
        text-align: center;
        position: relative;
        top: 1px;
    }

    .content-div {
        height: 100%;
    }

    .content-flex {
        width: 95%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
    }
    
    .data-item {
        width: 100%;
        height: 60px;
        min-width: 100px;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 60px;
        padding: 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border: 1px solid red; */
    }
    
    .icon-div {
        width: 60px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 8px;
        background-color: #C8E2FD;
    }
    
    .icon-div img {
        width: 40px;
        height: 40px;
    }
    
    .data-div {
        width: 75%;
        height: 100%;
        border-bottom: 2px solid #84AFE3;
        text-align: center;
        font-size: 1.2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .mail-contact-link {
        text-decoration: none;
    }
}